[user]
	name = Luc Boissaye
	email = luc@boissaye.fr

[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	ci = commit -a
	co = checkout
	st = status
	w = whatchanged
[apply]
	whitespace = strip     
[push]
	default = simple
