URxvt.font:  9x15
URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1 
URxvt*transparent: true
URxvt*shading: 20 # 0 to 99 darkens, 101 to 200 lightens
urxvt.foreground: #EFEFEF
urxvt.background: #000000
